/*
  clearing all defaults and adding some default values
*/
* {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  background-color: white;
  border-radius: 0px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/*
  removing those elements display and
  user only childs of main only
*/
body, html, #root, #main {
  display: contents;
}

/*
  main holds canvas and upper tools and all other displayed elements
*/
#main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: contents;
  /*
    upper tools holds some file, mode editing and project title editing
  */
  /*
  CANVAS: is a div wrapper where all pages, components and some tools like wrapper, select are located
          it is a full width locator and full height locator
  */
  /*
    states is a development component 
    it holds a state name and it's value
  */
}
#main #upper-tools {
  width: 100vw;
  height: 10vh;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#main #upper-tools #logo {
  width: 2.1vw;
  height: 2.1vw;
  background: url("/logo.svg");
  background-size: cover;
  background-position: center;
}
#main #left-tools {
  width: 5vw;
  max-height: 83vh;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 15vh;
  left: 1vw;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  overflow: scroll;
  padding-bottom: 1vw;
  padding-top: 8vw;
}
#main #left-tools button {
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  margin-top: 1vh;
}
#main #left-tools button i {
  font-size: 2vw;
  background-color: transparent;
  color: white;
}
#main #left-tools button:hover, #main #left-tools button:focus {
  background-color: rgb(61, 61, 61);
}
#main #left-tools div button {
  margin-top: 1vh;
}
#main #canvas {
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgb(228, 228, 228);
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  z-index: -50000 !important;
  overflow: auto !important;
  touch-action: none;
  /*
    a div that wraps the selected elements and move them
    under it when you get out from it it will put them where user leaves it
  */
}
#main #canvas #select, #main #canvas #selected-elements-wrapper {
  width: 0px;
  height: 400px;
  background-color: rgba(131, 170, 255, 0.349);
  border: 1px solid rgb(107, 154, 255);
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 50000;
}
#main #canvas #selected-elements-wrapper {
  border: none;
  background-color: rgba(131, 170, 255, 0.349);
  position: absolute !important;
}
#main #canvas #selected-elements-wrapper * {
  pointer-events: none;
}
#main #canvas [data-type=page] {
  overflow: hidden;
}
#main #states {
  width: -moz-fit-content;
  width: fit-content;
  height: 40vh !important;
  overflow: scroll;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  z-index: 3;
}
#main #states th, #main #states td {
  padding: 5px;
}
#main #states #decorators {
  display: contents;
}
#main #states #decorators * {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 40000;
}
#main #states #decorators #top-resize:hover {
  transform: scaleX(50);
}

#context-menu {
  position: fixed;
  width: 130px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 1px 1px 3px rgb(223, 223, 223);
}
#context-menu p {
  font-family: tahoma;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: transparent;
  color: rgb(0, 0, 0);
}
#context-menu p span {
  background-color: transparent;
  color: rgb(116, 116, 116);
}
#context-menu p:hover {
  background-color: rgba(226, 226, 226, 0.329);
}
#context-menu p:active {
  background-color: rgba(255, 255, 255, 0.329);
}/*# sourceMappingURL=App.css.map */