
  /*
    clearing all defaults and adding some default values
  */
* {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  background-color: white;
  border-radius: 0px;
  border: none;
  user-select: none;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


/*
  removing those elements display and
  user only childs of main only
*/
body, html, #root, #main {
  display: contents;
}
 
/*
  main holds canvas and upper tools and all other displayed elements
*/
#main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: contents;

  /*
    upper tools holds some file, mode editing and project title editing
  */
  // upper tools
  #upper-tools {
    width: 100vw;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #logo {
      width: 30px;
      height: 30px;
      background: url('/logo.svg');
      background-size: cover;
      background-position: center;
    }
  }
  /*
  CANVAS: is a div wrapper where all pages, components and some tools like wrapper, select are located
          it is a full width locator and full height locator
  */
  // canvas
  #canvas {
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgb(228, 228, 228);
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: -50000 !important;
    overflow: auto !important;
    touch-action: none;

    
  // dev components
// those will be removed on production
#select, #selected-elements-wrapper {
  width: 0px;
  height: 400px;
  background-color: rgba(131, 170, 255, 0.349);
  border: 1px solid rgb(107, 154, 255);
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 50000;
}

/*
  a div that wraps the selected elements and move them
  under it when you get out from it it will put them where user leaves it
*/
#selected-elements-wrapper {
  border: none;
  background-color: rgba(131, 170, 255, 0.349);
  position: absolute !important;

   * {
    pointer-events: none;
   }
}

[data-type="page"] {
  overflow: hidden;
}
  }

  /*
    states is a development component 
    it holds a state name and it's value
  */
  #states {
  width: fit-content;
  height: 40vh !important;
  overflow: scroll;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  z-index: 3;
  
  th, td {
    padding: 5px;
  }

  #decorators {
    display: contents;

    * {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 40000;
    }

    #top-resize:hover {
      transform: scaleX(50);
    }
  }
}


}






#context-menu {
  position: fixed;
  width: 130px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 1px 1px 3px rgb(223, 223, 223);

  p {
    font-family: tahoma;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    
    span {
      background-color: transparent;
      color: rgb(116, 116, 116);
    }
  }
  p:hover {
    background-color: rgba(226, 226, 226, 0.329);
  }
  p:active {
    background-color: rgba(255, 255, 255, 0.329);
  }
}

