

.text-white {
    color: rgb(255, 255, 255) !important;
}

.text-red {
    color: rgb(255, 44, 44) !important;
}

.bg-white {
    background-color: white !important;
}

.bg-red {
    background-color: rgb(255, 44, 44) !important;
}


// those are development configs only
.width-full {
    width: 100%;
}
.bg-primary {
    background-color: rgb(48, 48, 255);
}